*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  inline-size: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-inline-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
